<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


  <!-- card list -->
<ul class="flex-card-list">
	<!-- card list item -->
	<li class="flex-card-listitem">
		<!-- card module -->
		<div class="flex-card">
			<!-- image container -->
			<div class="flex-card-image">
				<img src="http://placehold.it/350x150" />
			</div>
			<!-- content container -->
			<div class="flex-card-content">
				<h3 class="flex-card-heading">First</h3>
				<p>I'm a card and I'm first.</p>
				<a href="#" class="flex-card-button">Button</a>
			</div>
		</div>
	</li>
</ul>


  <!-- Split layout parent -->
<div class="flex-split">
	<!-- Child divs -->
	<div class="flex-split-left">
		<!-- Putting the image in a div here is totally optional -->
		<div class="flex-split-image">
			<img src="http://lorempixel.com/400/200/" />
		</div>
		<h3>Jake the dog</h3>
		<p>Etc etc etc</p>
		<a href="#">Read more</a>
	</div>
	<div class="flex-split-right">
		<!-- Putting the image in a div here is totally optional -->
		<div class="flex-split-image">
			<img src="http://lorempixel.com/400/200/" />
		</div>
		<h3>Lou the cat</h3>
		<p>Etc etc etc</p>
		<a href="#">Read more</a>
	</div>
</div>

<figure class="demo-display l-fullheight l-fullwidth">
<div class="d-flex-split js-flex-split js-flex-align-center js-order-finn">
<div class="d-flex-split-left">
<div class="d-flex-split-image">
<img src="/static/img/adventure1.png"/>
</div>
<h3>Finn the human</h3>
<p>Finn (full title: Finn the Human, or Finn Mertens, and formerly known as Pen in the original short), is the main protagonist of the series Adventure Time.
</p>
<a class="d-flex-split-link" href="http://adventuretime.wikia.com/wiki/Finn">Learn more</a>
</div>
<div class="d-flex-split-right js-flex-split-jake">
<div class="d-flex-split-image">
<img src="/static/img/adventure2.png"/>
</div>
<h3>Jake the dog</h3>
<p>Jake (full title: Jake the Dog), the deuteragonist of Adventure Time, is a magical dog and Finn's constant companion, best friend, and adoptive brother.</p>
<a class="d-flex-split-link" href="http://adventuretime.wikia.com/wiki/Jake">Learn More</a>
</div>
</div>
</figure>


</body>
</html>